:root {
  color-scheme: light dark;
  --title-color: red;
  --subhead-color: red;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --title-color: #ff8080;
    --subhead-color: #ff8080;
  }
}

body {
    font: -apple-system-body;
}

h1 {
    font: -apple-system-headline;
    color: var(--title-color);
}

h2 {
    font: -apple-system-subheadline;
    color: var(--subhead-color);
}
